@import url(../components/task-list/task-list.css);
@import url(../components/tasks-modal/tasks-modal.css);
@import url(../components/information-modal/information-modal.css);

/* Styling for h1 heading with animation on startup */
h1 {
    animation: 1s ease-out 0s 1 resize;
    transform-origin: left;
}

/* CHANGES COLOUR OF HEADING WHEN HOVERING OVER */
h1:hover {
    background: linear-gradient(90deg, rgb(90, 175, 255), rgb(103, 237, 255));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s linear;
}

/* Basic styling for body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: hidden;
    background: url(../images/main_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Basic styling for main section */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    width: 90vw;
    padding: 2%;
    border-radius: 10px;
    background: #4e4e4e;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    color: #fff;
    z-index: 1;
    /* box-shadow: .6rem .3rem .3rem black; */
}

/* STYLING FOR THE BUTTON GROUP */
.btn-group {
    border-radius: 1rem;
    height: 3rem;
    margin: 1rem;
    background: #4e4e4e;
    box-shadow: .3rem .3rem .6rem black,
        -.2rem -.2rem .5rem rgb(126, 126, 126);
}

/* STYLING FOR BUTTONS INSIDE OF GROUP */
.btn-group__item {
    border: none;
    background: #4e4e4e;
    color: #fff;
    cursor: pointer;
    margin: 0;
    box-shadow: inset 0px 0px 0px -15px #3aa1c9;
    transition: all 300ms ease-out;
}

/* STYLING FOR THE LAST CHILD */
.btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* STYLING FOR THE FIRST CHILD */
.btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* STYLING FOR BUTTONS INSIDE OF GROUP WHEN HOVERING OVER */
.btn-group__item:hover,
.btn-group__item:focus {
    color: #000;
    box-shadow: inset 0px -20px 0px -15px #3aa1c9;
    background: linear-gradient(90deg, rgb(90, 175, 255), rgb(103, 237, 255));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* STYLING FOR TOOLBAR */
.toolBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

/* STYLING FOR TOOLBAR BUTTONS */
.toolBar__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    font-size: 1.5rem;
    background: #4e4e4e;
    box-shadow: .3rem .3rem .6rem black,
        -.2rem -.2rem .5rem rgb(126, 126, 126);
}

/* STYLING FOR BASIC NEOMORPHIC BUTTONS */
.neomorphicButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 0;
    align-items: center;
    padding: 1%;
    margin: 1rem;
    box-shadow: .2rem .2rem .1rem rgb(100, 100, 100)
}

/* STYLING FOR NEOMORPHIC BUTTONS WHEN ACTIVE */
.neomorphicButton:active {
    box-shadow: .1rem .1rem .1rem black
}

/* STYLING FOR ERROR MESSAGES */
.errorMessage {
    background: rgb(255, 111, 111);
    color: #000;
    padding: 1%;
    display: none;
}

/* STYLING FOR TOOLBAR BUTTON SVGs */
.toolBar__button svg {
    width: 2rem;
}

/* CHANGES STYLING OF TOOLBAR BUTTONS WHEN ACTIVE */
.toolBar__button:active {
    box-shadow: inset .2rem .2rem .2rem black,
        inset -.2rem -.2rem .2rem rgb(126, 126, 126);
}

/* CHANGES COLOUR OF TOOLBAR BUTTON SVGs TO GRADIENT DEFINED IN HTML FILE  */
.toolBar__button:hover>svg path {
    fill: url(#MyGradient);
}

/* STYLING FOR CURSOR FOLLOWING MOUSE CURSOR */
.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: solid 1px rgb(160, 160, 160);
    border-radius: 30%;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 999;
}

/* STYLING FOR WAVES AT BOTTOM OF BODY */
.waves {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    z-index: 0;
}

/* ANIMATION FOR WAVES PARALLAX */
.parallax>use {
    animation: move-forever 40s cubic-bezier(.55, .5, .45, .5) infinite;
}

/* ANIMATION FOR FIRST WAVE  */
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

/* ANIMATION FOR SECOND WAVE  */
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

/* ANIMATION FOR THIRD WAVE  */
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

/* KEYFRAMES TO ALL WAVES ANIMATION */
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* ANIMATION FOR RESIZING ELEMENT */
@keyframes resize {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* MEDIA QUERY FOR DEVICES BELOW 800PX */
@media screen and (max-width: 800px) {

    main {
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .cursor {
        display: none;
    }

    .taskList {
        width: 80%;
    }

    .taskCategory__category {
        width: 100%;
    }
}